html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	color: white;
}
 .FlexWrapper {
	background-color: indigo;
	display: flex;
	flex-direction: column;
}
 .FlexItems {
	/*display: flex;*/
	align-items: center;
	min-height: 6.25rem;
	padding: 1rem;
}
 .FlexHeader {
	background-color: #D7D7D7;
	order: 1;
}
 .FlexContent {
	background-color: #F0F0F0;
	color: black;
	order: 2;
}
 .FlexContent form {
	display: block;
	margin-bottom: 30px;
}
 textarea {
	margin: 0px; 
	width: 692px; 
	height: 58px;
}
 .FlexSideOne {
	background-color: #7E7E7E;
	order: 3;
}
 .FlexSideTwo {
	background-color: #7E7E7E;
	order: 4;
}
 .FlexFooter {
	background-color: #D7D7D7;
	order: 5;
}
 @media (min-width: 30rem) {
	.FlexWrapper {
		flex-flow: row wrap;
	}
	.FlexHeader {
		width: 100%;
	}
	.FlexContent {
		flex: 1;
		order: 3;
	}
	.FlexSideOne {
		width: 150px;
		order: 2;
	}
	.FlexSideTwo {
		width: 150px;
		order: 4;
	}
	.FlexFooter {
		width: 100%;
	}
} 
